In [2]:
import geopandas as gp

In [3]:
data = gp.read_file('data/houses_lr.geojson')

In [4]:
data.head(5)

,postcode,price,dateoftransfer,propertytype,oldnew,duration,categorytype,recordstatus,year,tfarea,numberrooms,priceper,pcd,pcd2,dointr,doterm,geometry
0,CR53EZ,795000.0,2012-03-15,D,Y,F,A,A,2012.0,250.0,7.0,3180.000000,CR5 3EZ,CR5 3EZ,201107.0,NaN,POINT (528925.000 157964.000)
1,CR53EZ,1250000.0,2015-12-18,D,N,F,A,A,2015.0,279.0,9.0,4480.286738,CR5 3EZ,CR5 3EZ,201107.0,NaN,POINT (528925.000 157964.000)
2,CR53EZ,1000000.0,2011-12-22,D,Y,F,A,A,2011.0,302.0,9.0,3311.258278,CR5 3EZ,CR5 3EZ,201107.0,NaN,POINT (528925.000 157964.000)
3,CR53EZ,970000.0,2015-12-04,D,N,F,A,A,2015.0,272.0,9.0,3566.176471,CR5 3EZ,CR5 3EZ,201107.0,NaN,POINT (528925.000 157964.000)
4,CR53EZ,995000.0,2016-10-18,D,N,F,A,A,2016.0,288.0,7.0,3454.861111,CR5 3EZ,CR5 3EZ,201107.0,NaN,POINT (528925.000 157964.000)